.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: gainsboro;
  border-radius: 2%;
  border: 1px solid gainsboro;
  padding: 1%;
}

legend {
  text-align: center;
}

button {
  float: left;
}

h3 {
  text-align: center;
}